{% extends 'base.html' %}

{% block title %} Service {% endblock %}

{% block content %}

<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>PROJECT REFERENCES</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="service-about section">
	<div class="container">                                                                       
      <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>YEAR</th>
            <th>PROJECT DESCRIPTION</th>
            <th>OWNER/MAIN CONTRACTOR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Feb 2015</td>
            <td>Main contractor for laying of underground storm water pipes and construction of associated manholes and culverts for Heritage estate, Kukwaba district Abuja</td>
            <td>King Snazzy Global Nig LTD</td>
          </tr>
          <tr>
              <td>Aug 2014</td>
              <td>Main contractor for construction of 6 bedroom duplex in Festrut Estate, Katampe Hills by Aso Radio, Abuja​</td>
              <td>Engr. Don Ojemaye</td>
          </tr>
          <tr>
              <td>July 2014</td>
              <td>Main contractor for Remodellling and renovation of 6 bedroom bungalow and Boys Quarters ,Obollo, Isiala Mbano LGA, Imo State</td>
              <td>Mr Basil Nwunze</td>
          </tr>
          <tr>
              <td>April 2014</td>
              <td>Main Contractor for renovation of 4 nos of Terrace Duplexes in Kabusa Garden estate, Abuja</td>
              <td>SFS NIG. LTD</td>
          </tr>
          <tr>
              <td>Feb 2014</td>
              <td>Main contractor for remodeling and renovation of 9 bedroom duplex and associated interlocking pavement and external works
Construction of multipurpose storey building, housing guest house, chapel and two units of 2 bedroom flats.
Construction of a 5 bedroom bungalow</td>
              <td>Sir Sonny Elebo</td>
          </tr>
          <tr>
              <td>Oct 2013</td>
              <td>Project management for construction of a block of 4 nos of 3 bedroom flats to serve as Vicarage for St Andrews Anglican Church Kubwa, Abuja.</td>
              <td>Kubwa Archdeaconary, Anglican Communion</td>
          </tr>
          <tr>
              <td>April 2013</td>
              <td>Project management for construction of 6km “ Ofagbe-Egwi-Ibuku” road ,Isoko north LGA, Delta State</td>
              <td>Best Amadi LTD</td>
          </tr>
          <tr>
              <td>Dec 2012</td>
              <td>Project management for construction of Guaranty Trust Bank E-Branch, Eagle square. Abuja</td>
              <td>KIT-TIN LTD</td>
          </tr>
          <tr>
              <td>Sep 2012</td>
              <td>Main contractor for completion of 3 bedroom bungalow from roofing carcass stage, Sunshine estate, Gwarinpa . Abuja</td>
              <td>ZAKAHALA NIG LTD</td>
          </tr>
          <tr>
              <td>Sep 2011</td>
              <td>Project management for construction of Guaranty Trust Bank, Yola Town, Adamawa State</td>
              <td>KIT-TIN LTD</td>
          </tr>
          <tr>
              <td>Mar 2011</td>
              <td>Construction of 2 nos of 4 bedroom duplexes and 3 nos of 4 bedroom bungalows in Pengassan Housing Estate phase 3, lokogoma district, Abuja.</td>
              <td>BROOKMOORE LTD</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
</section>

<section class="portfolio-work">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title text-center">
                <h2>VISUAL TOUR</h2>
            </div>
        </div>
        </div>
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-contant">
            <ul class="portfolio-contant-active text-center portfolio-popup">
              <li class="mix Branding">
                <a class="portfolio-popup" href="http://res.cloudinary.com/andela/image/upload/v1517139660/law-3_fjz96b.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139660/law-3_fjz96b.png" alt="">
                </a>
              </li>
              <li class="mix Websites">
                <a  href="http://res.cloudinary.com/andela/image/upload/v1517139661/law-2_i8c2xx.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139661/law-2_i8c2xx.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139670/law-4_axnyrl.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139670/law-4_axnyrl.png" alt="">
                </a>
              </li>
              <li class="mix design">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139671/law-5_fkycq7.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139671/law-5_fkycq7.png" alt="">
                </a>
              </li>
              <li class="mix Video">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139661/law-6_xxd1xd.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139661/law-6_xxd1xd.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139660/law-1_wp4f77.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139660/law-1_wp4f77.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139732/law-14_i9ozcx.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139732/law-14_i9ozcx.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139712/law-13_o83e8k.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139712/law-13_o83e8k.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139685/law-12_rxlppa.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139685/law-12_rxlppa.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139682/law-11_a03048.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139682/law-11_a03048.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139703/law-15_eswleu.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139703/law-15_eswleu.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139690/law-16_klipp1.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139690/law-16_klipp1.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139691/law-17_y592fd.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139691/law-17_y592fd.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139702/law-18_v9edhx.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139702/law-18_v9edhx.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139708/law-20_qcs2ta.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139708/law-20_qcs2ta.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139708/law-21_pwvmzn.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139708/law-21_pwvmzn.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139712/law-22_suqwed.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139712/law-22_suqwed.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139714/law-23_cnxptr.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139714/law-23_cnxptr.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139718/law-24_xg3bim.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139718/law-24_xg3bim.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139753/law-25_d3xr7i.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139753/law-25_d3xr7i.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139722/law-26_o07ibf.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139722/law-26_o07ibf.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139747/law-27_ldki7l.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139747/law-27_ldki7l.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139728/law-28_snvhon.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139728/law-28_snvhon.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139731/law-29_txaqlw.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139731/law-29_txaqlw.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139748/law-30_acmseh.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139748/law-30_acmseh.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139742/law-31_ydhli4.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139742/law-31_ydhli4.png" alt="">
                </a>
              </li>
              <li class="mix Graphic">
                <a href="http://res.cloudinary.com/andela/image/upload/v1517139746/law-32_mhlzcg.png">
                  <img class="img-responsive" src="http://res.cloudinary.com/andela/image/upload/v1517139746/law-32_mhlzcg.png" alt="">
                </a>
              </li>
              <!-- -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}